.data-container{
    display: flex;
    gap: 2rem;
    
}
.all-Card{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    justify-content: space-around;
}

.body-title{
    color: white;
    font-size: 3rem;
}